# Name of workflow
name: Deploy to Netlify website

# When workflow is triggered
on:
    pull_request:
      types: [ closed ]
      branches:
        - website-build

# Jobs to carry out
jobs:
  deploy:
    name: Deploy to website
    # this job will only run if the PR has been merged
    if: github.event.pull_request.merged == true
    # Operating system to run job on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout the Source Code
        uses: actions/checkout@v2

      - name: Install Client
        run: npm ci

      - name: Build Client
        run: npm run build
        env:
          REACT_APP_NOT_SECRET_CODE: 'first'

      - name: Netlify Actions for Deploying App
        uses: nwtgck/actions-netlify@v1.2
        with:
          publish-dir: "./build"
          deploy-message: "${{ github.event.head_commit.message }}"
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
